@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    min-width: 320px;
    min-width: 1600px;
}

* {
    box-sizing: border-box;
}

.header {
    height: 80px;
    background: #060a0e;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.header__menu {
    display: flex;
}

.header__menu > li {
    margin-right: 32px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
}

.header__menu > li.active:after {
    content: "";
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 0;
    height: 2px;
    background: #bc002d;
}

.header__menu > li:last-child {
    margin-right: 0;
}

.header__logo {
    display: block;
}

.header__menu > li > a {
    color: #fff;
    font-size: 15px;
    display: block;
    white-space: nowrap;
}

.header__soc {
    display: flex;
    margin-left: 50px;
}

.header__soc > li {
    margin-right: 18px;
}

.header__soc > li:last-child {
    margin-right: 0;
}

.header__soc > li > a {
    width: 22px;
    height: 22px;
    display: block;
}

.header__soc > li:nth-child(1) > a {
    background: url(../img/youtube.svg) no-repeat 0 0;
}

.header__soc > li:nth-child(2) > a {
    background: url(../img/instagram.svg) no-repeat 0 0;
}

.header__soc > li:nth-child(3) > a {
    background: url(../img/whatsapp.svg) no-repeat 0 0;
}

.header__phone > span {
    display: block;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #b5b5b5;
}

.header__phone > a {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 4px;
}

.screen-1 {
    height: 800px;
    background: url(../img/bg.jpg) no-repeat center 0;
    background-size: cover;
    display: flex;
    align-items: stretch;
}

.screen-1 .container-fluid {
    display: flex;
    align-items: center;
}

.screen-1__dec {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.18em;
    color: rgba(255, 255, 255, 0.3);
}

.screen-1__title {
    font-weight: bold;
    font-size: 45px;
    line-height: 130%;
    letter-spacing: 0.045em;
    text-transform: uppercase;

    color: #ffffff;
}

.screen-1__more {
    width: 195px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    display: block;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-top: 40px;
}

.screen-1__el {
    max-width: 650px;
    position: relative;
    padding-bottom: 260px;
}

.screen-1__el:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 192px;
    background: url(../img/scroll.svg) no-repeat 0 0;
    left: 0;
    bottom: 0;
}

.screen-1__soc {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -69px;
}

.screen-1__soc > li {
    margin-bottom: 15px;
}

.screen-1__soc > li:last-child {
    margin-bottom: 0;
}

.screen-1__soc > li > a {
    width: 36px;
    height: 36px;
    display: block;
}

.screen-1__soc > li:nth-child(1) > a {
    background: url(../img/youtube2.svg) no-repeat 0 0;
}

.screen-1__soc > li:nth-child(2) > a {
    background: url(../img/instagram2.svg) no-repeat 0 0;
}

.screen-1__soc > li:nth-child(3) > a {
    background: url(../img/whatsapp2.svg) no-repeat 0 0;
}

.screen-1__form {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(30px);
    display: flex;
    align-items: stretch;
}

.screen-1__form__row {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.screen-1__form__col {
    width: 50%;
    padding: 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.screen-1__form__sumbit {
    height: 100%;
    border: none;
    background: none;
    background: url(../img/sumbit-1.svg) no-repeat center center;
    width: 100px;
    cursor: pointer;
}

.screen-1__form__selects {
    display: flex;
    justify-content: space-between;
}

.screen-1__form__label {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.5);
}

.__select {
    position: relative;
    width: 195px;
    height: 30px;
}

.__select.min {
    width: 80px;
}

.__select[data-state="active"] .__select__title::before {
    transform: translate(-3px, -50%) rotate(-45deg);
}
.__select[data-state="active"] .__select__title::after {
    transform: translate(3px, -50%) rotate(45deg);
}

.__select[data-state="active"] .__select__content {
    opacity: 1;
}
.__select[data-state="active"] .__select__label + .__select__input + .__select__label {
    max-height: 45px;
    border-top-width: 1px;
}
.__select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}

.__select__title::before,
.__select__title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 8px;
    height: 1px;
    transition: all 0.3s ease-out;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translate(-3px, -50%) rotate(45deg);
}
.__select__title::after {
    transform: translate(3px, -50%) rotate(-45deg);
}

.__select__content {
    position: absolute;
    top: 30px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: none;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);

    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
}
.__select__input {
    display: none;
}
.__select__input:checked + label {
    background-color: #dedede;
}
.__select__input:disabled + label {
    opacity: 0.6;
    pointer-events: none;
}
.__select__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    max-height: 0;
    padding: 0 10px;
    font-size: 12px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
}

.__select__label:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.screen-padding {
    padding-top: 120px;
    padding-bottom: 120px;
    overflow: hidden;
}

.screen-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 38px;
    line-height: 130%;
    margin-bottom: 56px;
    text-align: center;
    letter-spacing: 0.045em;
    text-align: center;
}

.screen-3 .screen-title {
    color: #fff;
}

.screen-2__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 118px;
}

.screen-2__list > li {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.045em;
    position: relative;
    color: #150202;
    width: 100%;
    text-align: center;
}

.screen-2__list > li:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 38px;
    background: #b9b9b9;
    margin-top: -19px;
}

.screen-2__list > li:last-child:after {
    display: none;
}

.screen-2__el {
    border: 1px solid #343434;
}
.screen-2__el__start {
    padding: 97px 55px 55px 55px;
    text-align: center;
}

.screen-2__el__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */
    margin-bottom: 20px;
    letter-spacing: 0.045em;

    /* black */

    color: #150202;
}

.screen-2__el__title > span {
    font-weight: normal;
    color: #150202;
    opacity: 0.5;
    padding-left: 16px;
    margin-left: 10px;
    position: relative;
}

.screen-2__el__title > span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #150202;
    opacity: 0.5;
}

.screen-2__el__list {
    display: flex;

    justify-content: center;
}

.screen-2__el__list > li {
    padding-right: 10px;
    margin-right: 10px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #666666;
    position: relative;
}

.screen-2__el__list > li:last-child {
    padding-right: 0;
    margin-right: 0;
}

.screen-2__el__list > li::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.screen-2__el__list > li:last-child:after {
    display: none;
}

.screen-2__el__end {
    display: flex;
    align-items: stretch;
    border-top: 1px solid #b3b3b3;
}

.screen-2__el__rt {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-2__el__lt {
    border-right: 1px solid #b3b3b3;
    width: 50%;
}

.screen-2__el__end__pr {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 47px;
    background: url(../img/i.svg) no-repeat 24px 20px;
}

.screen-2__el__end__pr:nth-child(2) > span:nth-child(1) {
    color: #bc002d;
}

.screen-2__el__end__pr:last-child {
    border-bottom: none;
}

.screen-2__el__end__pr > span {
    display: block;
}

.screen-2__el__end__pr > span:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;

    letter-spacing: 0.045em;
}

.screen-2__el__end__pr > span:nth-child(2) {
    font-size: 10px;
    line-height: 12px;

    letter-spacing: 0.03em;

    color: rgba(0, 0, 0, 0.5);
}

.screen-2__el__img {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: -50px;
}

.screen-2__el__img > img {
    display: inline;
}

.screen-3 {
    background: #343434;
}

.screen-3__el {
    margin-bottom: 35px;
}

.screen-3__el__main {
    border: 1px solid #ffffff;
}

.screen-3__el__maini-nfo {
    padding: 25px 0;
}

.screen-3__el__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 15px;

    letter-spacing: 0.045em;

    color: #ffffff;
}

.screen-3__el__title > span {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    padding-left: 16px;
    margin-left: 10px;
    position: relative;
}

.screen-3__el__title > span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
}

.screen-3__el__list {
    color: #ffffff;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0.045em;
    color: #ffffff;
    font-weight: bold;
}

.screen-3__el__list > li {
    display: flex;
}

.screen-3__el__list > li > span {
    width: 65px;
    font-weight: normal;
}

.screen-3__el__st {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: 0.045em;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

.screen-3__el__prs {
    position: absolute;
    right: 15px;
    padding: 0 30px;
    bottom: -2px;
    background: #fff;
    background: #ffffff;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.screen-3__el__prs__it > span {
    display: block;
}

.screen-3__el__prs__it {
    padding-right: 27px;
    margin-right: 30px;
    position: relative;
}

.screen-3__el__prs__it:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -13px;
    height: 26px;
    width: 1px;
    background: rgba(0, 0, 0, 0.3);
}

.screen-3__el__prs__it:last-child {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

.screen-3__el__prs__it:last-child:after {
    display: none;
}

.screen-3__el__prs__it:last-child > a {
    font-size: 15px;
    line-height: 18px;
    color: #150202;
    letter-spacing: 0.04em;
}

.screen-3__el__prs__it > span:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.045em;
    color: #bc002d;
}

.screen-3__el__prs__it > span:nth-child(2) {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.5);
}

.screen-3__el__warn {
    position: absolute;
    right: 15px;
    top: -1px;
    border: 1px solid #ffffff;
    max-width: 342px;
}

.screen-3__el__warn__it {
    padding: 13px 30px 13px 54px;

    font-size: 12px;
    position: relative;
    line-height: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    letter-spacing: 0.045em;
    color: #ffffff;
}

.screen-3__el__warn__it > span {
    padding-left: 10px;
    display: block;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.screen-3__el__warn__it::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 20px;
    top: 50%;
    margin-top: -7px;
    background: url(../img/icon1.svg) no-repeat 0 0;
}

.screen-3__el__warn__it:last-child:after {
    background: url(../img/icon2.svg) no-repeat 0 0;
}

.screen-3__more {
    display: block;
    height: 58px;
    line-height: 58px;
    text-align: center;
    margin-top: 60px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    font-size: 15px;
    letter-spacing: 0.04em;
    color: #ffffff;
    opacity: 0.5;
}

.screen-3__more > span {
    padding-left: 24px;
    background: url(../img/arrow.svg) no-repeat 0 center;
}

.screen-4__el {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.045em;
    color: #150202;
    border: 1px solid #b5b5b5;
    padding: 25px 30px 25px 123px;
    height: 119px;
    display: flex;
    align-items: center;
    position: relative;
}

.screen-4__el:after {
    content: "";
    position: absolute;
    width: 195px;
    right: -230px;
    top: 50%;
    border-bottom: 1px solid #b5b5b5;
}

.screen-4__el:before {
    content: "";
    position: absolute;
    height: 59px;
    left: 93px;
    top: 50%;
    margin-top: -30px;
    border-left: 1px solid #b5b5b5;
}

.screen-4__el > span {
    position: absolute;
    left: 37px;
    top: 50%;
    margin-top: -16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-align: right;
    letter-spacing: 0.045em;
    color: #150202;
}

.screen-5 {
    background: url(../img/bg2.jpg) no-repeat 0 0;
    background-size: cover;
}

.screen-5__title {
    font-weight: bold;
    font-size: 38px;
    line-height: 130%;
    font-family: Montserrat;

    letter-spacing: 0.045em;
    margin-bottom: 15px;
    color: #ffffff;
}

.screen-5__dec {
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 46px;

    letter-spacing: 0.04em;

    color: #ffffff;
}

.screen-5__inputs {
    display: flex;
    margin-bottom: 30px;
}

.screen-5__input {
    width: 268px;
    height: 43px;
    padding: 0 15px;

    border: 1px solid #ffffff;

    font-size: 15px;
    margin-right: 77px;
    letter-spacing: 0.04em;
    background: none;
    color: #ffffff;
}

.screen-5__input::placeholder {
    color: #ffffff;
}

.screen-5__label {
    max-width: 300px;
    color: #fff;
    display: block;
    margin-bottom: 30px;
    line-height: 150%;
}

.screen-5__label a {
    color: #4971af;
}

.screen-5__submit {
    width: 268px;
    height: 42px;
    background: #bc002d;
    border: none;
    font-size: 15px;

    text-align: center;
    letter-spacing: 0.04em;

    color: #ffffff;
}

.screen-6__el {
    height: 100%;
    background: #fff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}

.screen-6__el__img {
    width: 100%;
}

.screen-6__el__intro {
    padding: 30px;
}

.screen-6__el__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.screen-6__el__title {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.045em;
    color: #150202;
}

.screen-6__el__data {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.045em;
    color: #150202;
}

.screen-6__el__city {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.045em;

    color: #b5b5b5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.screen-6__el__txt {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    margin-bottom: 60px;
    color: #150202;
}

.screen-6__el__open {
    display: block;

    width: 250px;
    height: 47px;
    background: #bc002d;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    line-height: 47px;
    text-align: center;
    color: #ffffff;
}

.screen-6__el__more {
    display: block;
    height: 100%;
    width: 100%;
    background: #ffffff;
    position: relative;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}

.screen-6__el__more > span {
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.04em;

    color: #000000;

    opacity: 0.5;
    transform: rotate(-90deg);
    display: block;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    margin-left: -5px;
}

.screen-7 {
    background: #343434;
}

.screen-7 .screen-title {
    color: #fff;
}

.screen-7__img {
    width: 100%;
    display: block;
}

.screen-7__el {
    position: relative;
    color: #fff;
    display: block;
    cursor: pointer;
}

.screen-7__el:hover {
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.3));
}

.screen-7__el__txt {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 30px;
    display: none;
    color: #fff;
}

.screen-7__el:hover .screen-7__el__txt {
    display: block;
}

.screen-7__el__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;

    letter-spacing: 0.045em;

    margin-bottom: 20px;
}

.screen-7__el__dec {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;

    color: #ffffff;
}

.screen-7__more {
    display: block;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #b5b5b5;
    width: 195px;
    height: 44px;
    line-height: 44px;
    padding-left: 58px;
    border: 1px solid #b5b5b5;
    margin-top: 40px;
    background: url(../img/arrow2.svg) no-repeat 34px center;
}

.screen-8__el {
    border: 1px solid #b5b5b5;
    padding: 30px;
    min-height: 152px;
    display: flex;
    align-items: center;
    position: relative;
}

.screen-8__el:after {
    content: "";
    position: absolute;
    width: 195px;
    right: -230px;
    top: 50%;
    border-bottom: 1px solid #b5b5b5;
}

.screen-8__el > span:nth-child(1) {
    position: absolute;
    right: -12px;
    bottom: -32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 110px;
    line-height: 130%;
    text-align: right;
    letter-spacing: 0.045em;

    color: rgba(0, 0, 0, 0.03);
}

.screen-8__el > span:nth-child(2) {
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #150202;
}

.screen-9__row {
    border-top: 1px solid #b5b5b5;
}

.screen-9__row:last-child {
    border-bottom: 1px solid #b5b5b5;
}

a.screen-9__el {
    display: flex;
    height: 175px;
    align-items: center;
    justify-content: center;
}

.screen-9 .col-md-2 {
    border-right: 1px solid #b5b5b5;
}

.screen-10__txt {
    padding-top: 30px;
    border-top: 1px solid #000;
}

.screen-10__txt > h1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.045em;
    margin-bottom: 15px;
    color: #150202;
}

.screen-10__txt > p {
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #150202;
}

.footer {
    background: #1a1a1a;
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.045em;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer__list > li {
    margin-bottom: 16px;
}

.footer__list > li:last-child {
    margin-bottom: 0;
}

.footer__list > li  {
    font-size: 14px;
    letter-spacing: 0.045em;
   line-height: 21px;
    opacity: 0.7;
}

.footer__list > li > a {
     color: #ffffff;
}

.footer__soc-list {
    display: flex;
}

.footer__soc-list > li {
    margin-right: 15px;
   
}

.footer__soc-list > li:last-child {
    margin-right: 0;
}

.footer__soc-list > li > a {
    width: 36px;
    height: 36px;
    display: block;
}

.footer__soc-list > li:nth-child(1) > a {
    background: url(../img/youtube2.svg) no-repeat 0 0;
}

.footer__soc-list > li:nth-child(2) > a {
    background: url(../img/instagram2.svg) no-repeat 0 0;
}

.footer__soc-list > li:nth-child(3) > a {
    background: url(../img/whatsapp2.svg) no-repeat 0 0;
}


.f-contact > li:nth-child(1) {
    padding-left: 18px;
    background: url(../img/phone2.svg) no-repeat 0 2px;
}

.f-contact > li:nth-child(2) {
    padding-left: 18px;
    color: #fff;
    background: url(../img/maps.svg) no-repeat 0 2px;
}

.f-contact > li:nth-child(2) > a {
    font-size: 10px;
    line-height: 12px;
    display: block;
    letter-spacing: 0.03em;
    margin-top: 5px;
    color: #5A9CFF;
}


.footer__bot {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 60px;
    margin-top: 120px;
    padding-bottom: 120px;
}

.footer__cop {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 30px;
    font-size: 14px;
line-height: 150%;
/* or 21px */

text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF;

opacity: 0.3;
}